# my temp file

# virtual machine crash logs
hs_err_pid*


# Sass files
.sass-cache/
*.css.map

#Temp Files
data/

# Package Files #
*.jar
*.war
*.ear

# java file
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#Folder idea
.idea/
.idea/*.xml

#Sublime Text 3
*.sublime-workspace
*.sublime-project